<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rareprob.core_pulgin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Required only if your app needs to access in app products (IAP) -->
    <uses-permission android:name="com.android.vending.BILLING" />

<!--    <application android:name=".core.base.BaseApplication">-->
    <application >
        <!--Core Plugin test components registration begins-->
        <activity
            android:name=".payment.in_app_purchase.presentation.IapBillingDefaultActivity"
            android:label="IAP_Test"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppFramework.Xml.Based"
            />

        <!--Core Plugin test components registration ends-->


    </application>

</manifest>